:root {
    --main-color: #893168;
    --secondary-color: #ffffff;
    --main-text-color: #2e1c2b;
    --secondary-text-color: #9fa2b2;
    --send-message-form: rgb(233, 225, 228);
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: system-ui;
    font-weight: 200;
    color: 	#893168; 
}

#root {
    height: 400px;
}
.avatar {
    vertical-align: middle;
    width: 20px;
    height: 20px;
    border-radius: 50%;
  }

.app {
    display: grid;
    height: 500px;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 60px;
    grid-template-areas: 
        "r m m m m d"
        "r m m m m d"
        "r m m m m d"
        "r m m m m d"
        "r m m m m d"
        "n f f f f f";
}

.new-user-list {
    grid-area: d;
}
.new-room-form {
    grid-area: n;
}

.rooms-list {
    grid-area: r;
}

.rooms-list {
    box-sizing: border-box;
    padding: 0 10px;
    background-color: var(--main-color);
    overflow: scroll;
    height: 100%;
}
.message-list {
    grid-area: m;
    height: 100%;
    overflow: scroll;
    /* margin:0 0 200px 0; */
    background-color: azure;
    
}

.send-message-form {
    grid-area: f;
}

/* REST OF CSS */
.rooms-list {
    box-sizing: border-box;
    padding: 0 10px;
    background-color: var(--main-color);
    overflow: scroll;
    height: 100%;
}

.rooms-list > ul {
    list-style-type: none;    
    padding: 0;
    overflow: scoll;
}

.rooms-list li {
    margin: 10px 0;
}

.rooms-list > h3 {
    margin: 5px 0;
    color: var(--secondary-color);
}

.rooms-list .room a {
    color: var(--secondary-text-color);
    font-weight: 600;
    text-decoration: none;
    
 }

.rooms-list .room.active a {
    color: var(--secondary-color);
}

.new-room-form {
    padding: 0 5px;
    background: var(--secondary-color);
    color: var(--main-text-color);
}

.new-room-form form {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.new-room-form input {
    width: 135px;
    background: var(--secondary-color);
}

.new-room-form button {
    background: var(--secondary-color);
    color: var(--main-text-color);
    border: 0;
} 

.new-room-form input::placeholder {
    color: var(--main-text-color);
    font-weight: 200;
}

.new-room-form input:focus {
    outline-width: 0;
}

.new-room-form input {
    border: 0;
}

.new-room-form button {
    border: 0;
}

.message {
    margin: 15px 0;
    
}

.message .message-username {
    font-size: 11px;
    /* color: var(--main-text-color); */
    color: #2e72a0;
    opacity: 0.9;
    margin-bottom: 6px;
}
.message .message-text {
    background: var(--main-color);
    color: var(--secondary-color);
    display: inline;
    padding: 4px 8px;
    border-radius: 0 10px 10px 10px;
    margin:20px 0 0 15px;
}

.message-list {
    box-sizing: border-box;
    padding-left: 6px;
    width: 100%;
    height: 100%;
    overflow: scroll;
    background-color: rgb(238, 238, 238);
    /* background: var(--secondary-color); */
}

.message-list .join-room {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 34px;
    font-weight: 300;
}

.send-message-form {
    background: var(--send-message-form);
    display: flex;
}

.send-message-form input {
    width: 100%;
    padding: 15px 10px;
    margin: 0;
    border-style: none;
    background: var(--send-message-form);
    font-weight: 200;

}

.send-message-form input:focus {
    outline-width: 0;
}

.send-message-form input::placeholder {
    color: var(--main-text-color);
}

.help-text {
    position: absolute;
    top: 10px;
}
.roomplus{ 
    color:black;
}

/*  user list styles */
.showUsers{
    list-style-type: none;
    color: var(--main-color);
    cursor: pointer;
    padding: 10px 0;
}
.showUsers :hover {
    font-weight: 600;
}
.alignePosition{
    float: right;
    padding: 0 20px 0 0;   
    font-weight: 50;
}
